<!-- Navbar goes here -->
<nav class="bg-white shadow-lg" *ngIf="nav.visible">
  <div class="max-w-6xl mx-auto px-1">
    <div class="flex justify-between">
      <div class="flex space-x-7">
        <div>
          <!-- Website Logo -->
          <a href="#" class="flex items-center py-4 px-1">
            <span class="
                text-4xl
                pl-2
                ml-2
                tracking-widest
                text-black-500
                md:text-4xl md:pl-4 md:ml-0
                pt-1
                text-gray-500
                hover:text-dashlane
              ">WORKER</span>
          </a>
        </div>
        <!-- Primary Navbar items -->
        <div class="hidden md:flex items-center space-x-1"></div>
      </div>
      <!-- Secondary Navbar items -->
      <div class="hidden md:flex items-center space-x-3">
        <a routerLink="public/home" class="
            py-4
            px-2
            text-dashlane
            border-b-4 border-dashlane
            tracking-widest
          ">Pocetna</a>
        <a href="" [routerLink]="['/private/job-post']" class="
            py-4
            px-2
            text-gray-500
            tracking-wide
            hover:text-white hover:bg-dashlane
            transition
            duration-300
          ">Postavi oglas</a>
        <a href="" class="
            py-4
            px-2
            text-gray-500
            tracking-wide
            hover:text-white hover:bg-dashlane
            transition
            duration-300
          ">Zahtevi</a>
        <a href="" class="
            py-4
            px-2
            text-gray-500
            tracking-wide
            hover:text-white hover:bg-dashlane
            transition
            duration-300
          ">Moji poslovi</a>
        <a *ngIf="!loggedShow" [routerLink]="['/public/login']" href="" class="
            py-2
            px-2
            tracking-wide
            text-white
            rounded-sm
            bg-dashlane
            transform
            hover:sca
            duration-300
          ">SIGN IN</a>
        <a *ngIf="!loggedShow" [routerLink]="['/public/register']" href="" class="
            py-2
            px-2
            tracking-wide
            text-white
            bg-dashlane
            rounded-sm
            hover:bg-dashlane
            transform
            hover:scale-110
            transition
            duration-300
          ">SIGN UP</a>
        <button *ngIf="loggedShow" mat-icon-button [matMenuTriggerFor]="menu" class="hover:text-white hover:bg-dashlane"
          aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            <span>Profil</span>
          </button>
          <button mat-menu-item>
            <mat-icon>work</mat-icon>
            <span>Moji poslovi</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Odjava</span>
          </button>
        </mat-menu>
      </div>
      <!-- Mobile menu button -->
      <div class="md:hidden flex items-center">
        <button (click)="toggleNavbar()" class="outline-none mobile-menu-button">
          <svg class="w-8 h-8 mr-2 text-gray-500 hover:text-dashlane" x-show="!showMenu" fill="none"
            stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
            <path d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- mobile menu -->
  <div *ngIf="showMenu" class="mobile-menu md:hidden">
    <ul class="">
      <li class="active">
        <a href="index.html" class="
            block
            text-sm
            px-2
            py-4
            text-white
            bg-dashlane
            font-semibold
            hover:text-white
          ">Home</a>
      </li>
      <li>
        <a href="#services" class="
            block
            text-sm
            px-2
            py-4
            hover:bg-dashlane-500
            transition
            duration-300
            hover:text-white
          ">Postavi oglas</a>
      </li>
      <li>
        <a href="#about" class="
            block
            text-sm
            px-2
            py-4
            hover:bg-dashlane-500
            transition
            duration-300
            hover:text-white
          ">Zahtevi</a>
      </li>
      <div class="mx-4">
        <mat-divider></mat-divider>
      </div>
      <li *ngIf="!loggedShow">
        <a  [routerLink]="['/public/login']"  class="
            block
            text-sm
            px-2
            py-4
            hover:bg-dashlane-500
            transition
            duration-300
            hover:text-white
          ">Prijavi se
        </a>
      </li>
      <li *ngIf="!loggedShow">
        <a  [routerLink]="['/public/register']" class="
            block
            text-sm
            px-2
            py-4
            hover:bg-dashlane-500
            transition
            duration-300
            hover:text-white
          ">Registruj se
        </a>
      </li>
      <li *ngIf="loggedShow">
        <button mat-menu-item class="hover:bg-dashlane-500 ">
          <mat-icon>account_circle_outline</mat-icon>
          <span>Moj profil</span>
        </button>
      </li>

      <li *ngIf="loggedShow">
        <button mat-menu-item class="hover:bg-dashlane-500 ">
          <mat-icon>work_outline</mat-icon>
          <span>Moji poslovi</span>
        </button>
      </li>
      <li *ngIf="loggedShow">
        <button (click)="logout()" mat-menu-item >
          <mat-icon>exit_to_app</mat-icon>
          <span>Izloguj se</span>
        </button>
      </li>
    </ul>
  </div>
</nav>
