<div class="grid grid-cols-4 gap-4 m-3 md:grid-cols-6 mt-10">
  <div></div>
  <div class=" mx-4 md:mx-0 col-span-4">
    <div
      class="w-5/5 bg-gray-100 hover:bg-gray-200 rounded-lg shadow-sm p-5  flex flex-col sm:flex-row justify-between items-center gap-2 sm:gap-0">
      <div class="flex flex-col sm:flex-row justify-start items-center gap-4">
        <mat-card class="flex">
          <mat-card-title>Actions Buttons</mat-card-title>
          <mat-card-subtitle>Start</mat-card-subtitle>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>

      </div>
    </div>
    <div></div>
  </div>
