<div class="grid grid-cols-4 gap-4 m-3 md:grid-cols-6 mt-10">
  <div></div>
  <div class=" mx-4 md:mx-0 col-span-4">
    <div
		class="w-5/5 bg-gray-100 hover:bg-gray-200 rounded-lg shadow-sm p-5  flex flex-col sm:flex-row justify-between items-center gap-2 sm:gap-0">
		<div class="flex flex-col sm:flex-row justify-start items-center gap-4">
			<div class="bg-blue-200 flex w-10 h-10 ">
          <img src="assets/img/nav-logo.jpg" class="object-fill rounded-sm" alt="">
      </div>
			<div class="text-center sm:text-left">

          <div class="inline-block">
            <h1 class="text-gray-600 font-mono font-semibold tracking-wider inline-block align-vertical mr-2">Unosenje uglja </h1>
            <button data-tooltip-target="tooltip-default" data-tooltip-trigger="hover" type="button" class="bg-dashlane-500 py-1 px-2 pt-1  text-white text-xs font-serif font-semibold rounded-md hover:bg-dashlane-600 inline-block align">i</button>
            <div id="tooltip-default" role="tooltip" class="tooltip absolute z-10 inline-block bg-gray-900 font-medium shadow-sm text-white py-2 px-3 text-sm rounded-lg opacity-0 duration-300 transition-opacity invisible">
              Tooltip content
              <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
          </div>

				<p class="text-gray-500 font-mono text-sm">potrebna su mi 3 momka za utovar uglja, 4tone</p>
        <p class="text-gray-400 font-mono text-xs">fiksno 4000DIN / trajanje: do zavrsetka posla</p>
			</div>
		</div>
		<div ><button class="bg-dashlane-500 py-2 px-4 text-white  text-sm font-bold rounded-md hover:bg-dashlane-600">Enable</button>
		</div>

	</div>
  </div>
  <div></div>
</div>

<div class="grid grid-cols-4 gap-4 m-3 md:grid-cols-6 mt-5">
  <div></div>
  <div class=" mx-4 md:mx-0 col-span-4">
    <div
		class="w-5/5 bg-blue-100 rounded-lg shadow-sm p-5  flex flex-col sm:flex-row justify-between items-center gap-2 sm:gap-0">
		<div class="flex flex-col sm:flex-row justify-start items-center gap-4">
			<div class="bg-blue-200 flex w-10 h-10 ">
          <img src="assets/img/nav-logo.jpg" class="object-fill rounded-sm" alt="">
      </div>
			<div class="text-center sm:text-left">
				<h1 class="text-gray-600 font-mono font-semibold tracking-wider">Unosenje uglja</h1>
				<p class="text-gray-500 font-mono">potrebna su mi 3 momka za utovar uglja, 4tone</p>
			</div>
		</div>
		<div><button class="bg-dashlane-500 py-2 px-4 text-white  text-sm font-bold rounded-md hover:bg-dashlane-600">Enable</button>
		</div>
	</div>
  </div>
  <div></div>
</div>
