<div class="min-h-screen bg-gray-100 text-gray-600 font-mono antialiased py-6 flex flex-col justify-center sm:py-12">
  <div class="  relative py-3 sm:w-96  mx-auto text-center s">
    <span class=" font-semibold tracking-widest text-6xl">SIGN IN</span>
    <div class="mt-4 bg-w shadow-md rounded-lg text-left">
      <div class="h-2 bg-dashlane rounded-t-md"></div>
      <div class="px-8 py-6">
        <form
        [formGroup]="form">
          <fieldset>


            <mat-form-field class=" w-full" appearance="outline">
              <mat-label>Korisnicko ime</mat-label>
              <input name="email" formControlName="email" matInput>
            </mat-form-field>

            <mat-form-field class=" w-full" appearance="outline">
              <mat-label>Unesite lozinku</mat-label>
              <input name="password" formControlName="password"  matInput [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <small *ngIf="f.password.invalid && f.password.touched && f.password.errors?.required">Morate uneti lozinku</small>
            </mat-form-field>

            <div class="flex justify-between items-baseline">
              <button mat-raised-button color="primary" (click)="login()">Login</button>
              <a href="#" class="text-xs ml-5 hover:underline sm:ml-0">Forgot Password?</a>
            </div>

          </fieldset>

        </form>

      </div>
    </div>
  </div>
</div>
